<%- include("header", {}) %>
<div class="container-fluid text-center" id="container-fluid-fr">
    <div id="mensaje">
        <% if (mensaje) { %>
            <div class="alert alert-<%= messageType %>">
              <%= mensaje %>
            </div>
        <% } %>
    </div>
    <div class="row g-5">
        <div class="col-8">
            <!-- Contenido de la columna izquierda -->
            <video class="videoBox" id="video" autoplay playsinline></video>
            <canvas id="canvas"></canvas>
        </div>
        <div class="col-4">
            <!-- Contenido de la columna derecha -->
            <div id="emoFrame">
                <div class="emotion" id="emotion">
                    <div class="spinner-border spinner-border-sm" role="status" id="spinner">
                        <span class="visually-hidden">Loading...</span>
                    </div><br>
                    <div id="sock">
                    </div>                   
                </div>
            </div>
            <div id="playlist-container">
                <ul id="list-content" class="playlist">
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <button type="button" id="capture" class="btn btn-secondary">
                <i class="bi bi-camera"></i>
            </button>
        </div>
        <div class="col-4">
            <button type="button" class="btn btn-success" id="botonPublicarCanciones">publicar</button>
        </div>
    </div>
   
</div>


<%- include("footer", {}) %>
