<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moodify</title>
    <link rel="icon" type="image/x-icon" href="images/moodify_logo_blue_backgr.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Rubik:wght@300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/index.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" defer></script>
    <script src="javascripts/scripts.js" defer></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="images/moodify_logo.png" alt="Moodify Logo" class="logo">
                Moodify
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <button type="button" class="btn btn-outline-login" onclick="window.location.href='login_registration'">Iniciar Sesión</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <div class="content">
                    <h2 class="title">Moodify</h2>
                    <p class="subtitle">Moodify es una aplicación web que permite a los usuarios registrar sus emociones diarias, conectar con amigos, compartir su estado de ánimo acompañado de listas de canciones, y obtener recomendaciones musicales basadas en análisis emocional y reconocimiento facial. La plataforma ofrece funcionalidades en tiempo real para que los usuarios puedan interactuar instantáneamente y visualizar los estados de ánimo de sus amigos.</p>
                </div>
            </div>
            
            <div class="col-md-6">
                <div id="carouselImages" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://universodeemociones.com/wp-content/uploads/2017/07/pexels-photo-4833957.jpeg" class="d-block w-100" alt="Imagen 1">
                        </div>
                        <div class="carousel-item">
                            <img src="https://us.images.westend61.de/0001577408pw/male-friends-supporting-sad-man-while-sitting-in-balcony-MASF24895.jpg" class="d-block w-100" alt="Imagen 2">
                        </div>
                        <div class="carousel-item">
                            <img src="https://media.istockphoto.com/id/1148871397/es/foto/cuatro-amigos-furiosos-discutiendo-en-casa.jpg?s=612x612&w=0&k=20&c=PJcPGdZy-Qi9SA4EFoJ3Y2QmSFfKuxpbK8flwfvA8WA=" class="d-block w-100" alt="Imagen 3">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselImages" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Anterior</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselImages" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Siguiente</span>
                    </button>
                </div>
                <div class="auth-message">
                    <!--p>¿Ya tienes una cuenta? <a href="login_registration" class="btn btn-primary">Inicia sesión</a></p-->
                    <p>¿No tienes una cuenta? <a href="login_registration" class="btn btn-register">Regístrate</a></p>
                </div>
            </div>
        </div>
    </div>
    <footer class="bg-dark text-white text-center py-4 mt-5">
        <div class="container">
            <p class="footerTitle">&copy; 2024 Moodify. Todos los derechos reservados.</p>
            <p>
                <a href="#" class="text-white me-3">Política de privacidad</a> |
                <a href="#" class="text-white ms-3">Términos de servicio</a>
            </p>
        </div>
    </footer>
</body>
</html>
