/* Contenedor de la página principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; /* Padding adicional para los lados */
}

/* Título principal */
.title {
    font-family: 'Pacifico', cursive;
    font-size: 3.5rem; /* Tamaño grande pero no exagerado */
    color: var(--primary-color);
    text-align: center; /* Centrado del texto */
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    margin-top: 40px; /* Mejorar el espaciado */
    margin-bottom: 20px;
}

.subtitle {
    font-size: 1.25rem; /* Tamaño adecuado para lectura */
    color: var(--primary-color);
    text-align: center;
    line-height: 1.8; /* Mejorar la legibilidad */
    margin-bottom: 30px;
    font-weight: 300;
    max-width: 700px; /* Limitar el ancho para una mejor alineación */
    margin-left: auto;
    margin-right: auto;
}

.subtitle2 {
    font-size: 0.9rem;
    color: black;
    line-height: 1.6;
    margin-bottom: 20px;
}

.carousel-inner {
    margin-top: 30px;
    margin-left: 20px;
}

.carousel-inner img {
    border-radius: 10px;
    object-fit: cover;
    height: 400px;
}

.col-md-6 {
    padding: 0 20px; /* Margen interno para el espacio alrededor */
}

/* Botón "Iniciar sesión" */
.btn-outline-login {
    background-color: white;
    color: black;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 15px;
}

.btn-outline-warning:hover {
    transform: scale(1.05);
}

.navbar-nav .nav-item {
    margin-left: 20px;
}

/* Mensaje con botones en la página principal */
.auth-message {
    margin-top: 30px;
    text-align: center;
    font-size: 1.1rem;
    color: var(--primary-color);
    padding: 12px 24px;
}

.auth-message p {
    margin: 10px 0;
    margin-left: 90px;
}

.auth-message a {
    text-decoration: none;
    font-weight: bold;
    border-radius: 25px;
    padding: 10px 20px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-left: 10px;
}

.auth-message a.btn-primary {
    background-color: var(--accent-color);
    color: #fff;
}

.auth-message a.btn-register {
    background-color: black;
    color: #fff;
}

.auth-message a:hover {
    transform: scale(1.05);
}

/* Footer */
footer {
    background-color: #222;
    color: white;
    padding: 10px;
    font-size: 0.9rem;
    margin-top: 40px;
}

footer a {
    color: #f1f1f1;
    transition: color 0.3s ease;
}

.footerTitle{
    margin-top: 8px;
}

footer p {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    #sidebar-wrapper {
        width: 0;
        display: none;
        transition: width 0.3s ease;
    }

    #wrapper.toggled #sidebar-wrapper {
        display: block;
        width: 250px;
    }
    .title {
        font-size: 2.5rem; /* Reducir tamaño en pantallas pequeñas */
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    }

    .subtitle {
        font-size: 1.1rem; /* Reducir tamaño en pantallas pequeñas */
        max-width: 90%; /* Hacer que ocupe más espacio en móviles */
    }
    .carousel-item {
        margin-left: 0; /* Eliminado margen para pantallas pequeñas */
    }
    footer p {
        font-size: 0.9rem; /* Reducir el tamaño de texto para pantallas pequeñas */
    }
    .auth-message a {
        font-size: 1rem; /* Reducir tamaño para móviles */
        padding: 10px 20px;
    }
}

