/* Contenedor principal */
.container-profile {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  width: 100%; 
  box-sizing: border-box;
  flex-grow: 1;
}

/* Secciones del perfil */
.left-section, .right-section {
  flex: 1;
  min-width: 40%; 
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Imagen de perfil */
.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.preview {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 3px solid #ddd;
  object-fit: cover;
}

/* Botón para cambiar imagen */
.button-container {
  margin-top: 10px;
}

.custom-button {
  background-color: #385340;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.custom-button:hover {
  background-color: #4b6a57;
  transform: scale(1.05);
}

/* Información Personal */
.info-box {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 12px;
  background-color: #fff;
  padding: 20px;
  margin-top: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section-title {
  font-size: 24px;
  font-weight: bold;
  color: #385340;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

/* Botón Editar */
.custom-button.mt-3 {
  margin-top: 20px;
}

/* Estilos responsivos */
@media (max-width: 992px) {
  .container-profile {
    flex-direction: column;
    align-items: center;
  }
  .left-section, .right-section {
    max-width: 100%;
    flex: none;
    margin-bottom: 20px;
  }
}
