body {
  background: linear-gradient(135deg, #f3f4f7, #e9eaf1);
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
}

.perfil-container {
  text-align: center;
  margin: 20px 0;
}

.perfil-title {
  font-size: 36px;
  color: var(--primary-color);
  font-weight: 700;
  margin: 0;
}

/* Contenedor principal */
.container-profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

/* Sección izquierda: Imagen de perfil */
.left-section {
  order: 1;
  flex: 1;
  max-width: 500px;
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Imagen de Perfil */
.preview {
  width: 180px;
  height: 180px;
  border: 2px solid var(--accent-color);
  transition: transform 0.3s ease;
}
.preview:hover {
  transform: scale(1.05);
}

/* Sección derecha: Información personal */
.right-section {
  order: 2;
  flex: 2;
  max-width: 600px;
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-button {
  background: var(--accent-color);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border-radius: 30px;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.custom-button:hover {
  background: #ff5733;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

/* Información Personal */
.info-box {
  font-size: 16px;
  color: var(--primary-color);
}
.info-box p {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.section-title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

/* Responsividad */
@media (max-width: 768px) {
  .container-profile {
      flex-direction: column;
      gap: 20px;
  }

  .left-section, .right-section {
      max-width: 100%;
      margin: 0 auto;
  }
}

/* Personalizar el botón "Seleccionar Imagen" */
.custom-file-label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

/* Ocultar el input file */
#profileImage {
  display: none;
}

