/* Definir variables para la paleta de colores */
:root {
    --primary-color: #4B0082; /* Morado oscuro */
    --secondary-color: #00BFFF; /* Azul vibrante */
    --accent-color: #FF69B4; /* Rosa degradado */
    --background-light: #FFFFFF; /* Blanco */
    --text-dark: #333333; /* Gris oscuro */
}

/* Estilos para el menú lateral */
#wrapper {
    display: flex;
    flex-wrap: nowrap;
}

#sidebar-wrapper {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    background-color: #1e1e1e;
}

/* Cambiar el color de los enlaces en el sidebar */
#sidebar-wrapper .list-group-item {
    color: #ffffff;
}

#sidebar-wrapper .list-group-item:hover {
    background-color: #444444;
}

.navbar {
    background-color: #343a40;
}

.navbar-brand {
    font-size: 2rem; /* Ajusta este valor según cómo quieras el tamaño del texto */
    font-weight: bold; /* Opcional: para darle más presencia */
    display: flex;
    align-items: center; /* Alinea el texto con el logo */
}

.navbar-brand, .navbar-nav .nav-link {
    color: #ffffff !important;
    
  }

.navbar-brand, .sidebar-heading {
    font-family: 'Pacifico', cursive;
}

.navbar-brand img {
    width: 50px; /* Cambia el tamaño según sea necesario */
    height: auto;
    border-radius: 50%; /* Si deseas que sea un círculo perfecto */
}

#page-content-wrapper {
    width: 100%;
    padding-left: 250px;
    transition: all 0.3s ease;
}

.box {
    border: 1px solid #ddd;
}

.dropdown-menu {
    width: 300px;
}

/* Personalización de botones */
.btn-primary {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

/* Ocultar menú lateral en pantallas pequeñas */
@media (max-width: 768px) {
    #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding-left: 0;
    }
}
