/* Estilos para el menú lateral */
#wrapper {
    display: flex;
    flex-wrap: nowrap;
}

#sidebar-wrapper {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    background-color: #1e1e1e;
}

/* Cambiar el color de los enlaces en el sidebar */
#sidebar-wrapper .list-group-item {
    color: #ffffff;
}

#sidebar-wrapper .list-group-item:hover {
    background-color: #444444;
}

.navbar {
    background-color: #343a40;
}
.navbar-brand, .navbar-nav .nav-link {
    color: #ffffff !important; /* Texto blanco */
  }

#page-content-wrapper {
    width: 100%;
    padding-left: 250px;
    transition: all 0.3s ease;
}

.box {
    border: 1px solid #ddd;
}

.dropdown-menu {
    width: 300px; /* Ajustar el tamaño del menú de notificaciones */
}

/* Personalización de botones */
.btn-primary {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

/* Ocultar menú lateral en pantallas pequeñas */
@media (max-width: 768px) {
    #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding-left: 0;
    }
}
